*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

body{
	position: absolute;
	background: url(gh.jpg);
	 background-position: right top;
	 background-size:125%;
	 background-repeat: no-repeat;
}

div.kotakbcgr{
    background: #ffffff;
    width: 350px;
    margin: 222px auto 0;
    border-radius: 16px;
    min-height: 256px;
    overflow: hidden;
} 